<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
	<meta charset="UTF-8">
	<title>Interlace Interface</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>

	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<base href="/" />
	
</head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-resource.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="index.js" type="text/javascript"></script>
<script src="js/controllers.js" type="text/javascript" ></script>

<body ng-controller="InterfaceController">

	<div class="header">
	<md-button class="md-icon-button">
    	<div class = "homeButton" onclick="location.href='/'" ><i class="material-icons md-36">home</i><p>Home</p></div>
    	<div class = "addIdeaButton" onclick="location.href='/addIdea'" ><i class="material-icons md-36">add_circle_outline</i><p>Add Idea</p></div>
	</md-button>
      <h1>All Sessions</h1>
      <h2>Click to use specific session</h2>
      <h3>Dr. E</h3>

    </div>

    <div ng-controller="InterfaceController">

	<div class="ideaPanel">
	<!--<p ng-click="myStyle={'background-color':'red'}" ng-style = "myStyle">mp3 </p>
	<pre>myStyle = {{myStyle}}</pre>-->
		<div ng-repeat="item in allSessions | filter:{visible:true}" class = "visibleSessionBox">
			<h5 ng-click="archiveSession(item)" class = "archiveButton">[archive]</h5>
			<br>
			<h2 id = "ideaName"> {{item.title}}</h2>
			<h2 id = "ideaText"> {{item.teacherName}}</h2>
			<h2 id = "ideaText"> {{item.date}}</h2>
			<br>
			<input type="button" class = "useSessionButton" onclick="location.href='/index'" ng-click="useSession(item)" value="Use Session" />

		</div>
		<div ng-repeat="item in allSessions | filter:{visible:false}" class = "invisibleSessionBox">
			<h5 ng-click="restoreSession(item)" class = "restoreButton">[restore]</h5>
			<br>
			<h2 id = "ideaName"> {{item.title}}</h2>
			<h2 id = "ideaText"> {{item.teacherName}}</h2>
			<h2 id = "ideaText"> {{item.date}}</h2>

		</div>

			<div class = "newSessionBox">
				<h2 id = "ideaName"> Create New Session </h2>
					<form name = "newSession_frm" id = "newSession_frm" novalidate class="simple-form">
						<input type="text" ng-model="newSession.title" id = "ideaName" placeholder="Title"/><br />
						<input type="text" ng-model="newSession.teacherName" id = "ideaName" placeholder="Teacher Name"/><br />
						<input type="text" ng-model="newSession.date" id = "ideaName" placeholder="Date"/><br />

						<input type="submit" ng-show="newSession_frm.$dirty" ng-click="addSession(newSession)" value="Save" />

						<p ng-show = "showErrorAddNewSession"> {{errorAddNewSessionResponse}}</p>
					</form>
				<p ng-show = "showAddNewSession">{{addNewSessionResponse}} </p>
			</div>
					

			<br>
			
			

			<div class = "newPromptBox">
			<h2 id = "ideaName"> Get sessionID </h2>
				<form id = "getSession_frm" name = "getSession_frm" novalidate class="simple-form">
					<input type="text" ng-model="qSession.title" placeholder="Insert session title"/><br />
					
					<input type="submit" ng-show="getSession_frm.$dirty" ng-click="getSessionID(qSession)" value="Save" />
				</form>

				<p ng-show = "showGetSessionIDResponse">The sessionID of your search "{{qSession.title}}" is {{getSessionIDResponse}}. </p>
				<p ng-show = "showErrorGetSessionIDSession">{{errorGetSessionIDResponse}}</p>
			</div>
	</div>
	


</body>
</html>

	
