<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
	<meta charset="UTF-8">
	<title>Interlace Interface</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>

	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<base href="/" />
	
</head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-resource.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="index.js" type="text/javascript"></script>
<script src="js/controllers.js" type="text/javascript" ></script>

<body ng-controller="InterfaceController">

	<div class="header">
	<md-button class="md-icon-button" onclick="location.href='/allSessions'">
    	<i class="material-icons md-36">home</i>
	</md-button>
      <h1>All Sessions</h1>
      <h2>Click to use specific session</h2>
      <h3>Dr. E</h3>

    </div>

	<div class="ideaPanel">

		<div ng-repeat="item in allSessions | filter:{visible:true}" class = "visibleSessionBox">
			<h5 ng-click="removeSession(item)" class = "archiveButton">[archive]</h5>
			<br>
			<h2 id = "ideaName"> {{item.promptTitle}}</h2>
			<h2 id = "ideaText"> {{item.promptText}}</h2>
			<h2 id = "ideaText"> {{item.teacherName}}</h2>
			<h2 id = "ideaText"> {{item.date}}</h2>
			<br>
			<input type="button" class = "useSessionButton" onclick="location.href='/'" ng-click="useSession(item)" value="Use Session" />

		</div>
		<div ng-repeat="item in allSessions | filter:{visible:false}" class = "invisibleSessionBox">
			<h5 ng-click="restoreSession(item)" class = "restoreButton">[restore]</h5>
			<br>
			<h2 id = "ideaName"> {{item.promptTitle}}</h2>
			<h2 id = "ideaText"> {{item.promptText}}</h2>
			<h2 id = "ideaText"> {{item.teacherName}}</h2>
			<h2 id = "ideaText"> {{item.date}}</h2>

		</div>

			<div class = "newSessionBox">
				<h2 id = "ideaName"> Create New Session </h2>
					<form id = "newSession_frm" novalidate class="simple-form">
						<input type="text" ng-model="newSession.promptTitle" id = "ideaName" placeholder="Prompt Title"/><br />
						<input type="text" ng-model="newSession.promptText" id = "ideaName" placeholder="Prompt Text"/><br />
						<input type="text" ng-model="newSession.teacherName" id = "ideaName" placeholder="Teacher Name"/><br />
						<input type="text" ng-model="newSession.date" id = "ideaName" placeholder="Date"/><br />

						<input type="submit" ng-click="addSession(newSession)" value="Save" />
					</form>
			</div>
		<hr>
	</div>

</body>
</html>

	
