<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Interlace Interface</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<script src="lib/Angular/angular.min.js" type="text/javascript" ></script>
	<script src="js/controllers.js" type="text/javascript" ></script>
</head>
<body ng-controller="GuitarFunction">
	<div class="header">
      <h1>{{pageData.promptTitle}}</h1>
      <h2>{{pageData.promptText}}</h2>
      <h3>{{pageData.teacherName}}</h3>
      <h3>{{pageData.date}}</h3>
    </div>

	<div class="ideaPanel">
		<div ng-repeat="item in pageData.ideas" class = "ideaBox">
			<h1 id = "ideaName"> {{item.name}}</h1>

			<div class = "contentBox" ng-if=item.contentType=="text">
				<h2 id = "ideaText"> {{item.content}} </h2>
			</div>

			<div class = "contentBox" ng-if=item.contentType=="image">
				<img src={{item.content}} style="max-width:100%; max-height:100%">
			</div>

			<h1 id = "ideaTime"> {{item.time}} </h1>
		</div>
	</div>


</div>

</body>
</html>