<!--Jun22 Question
How does this line of code work: 
	<p>{{pageData.promptTitle="wow"}}</p> 
Upon inserting, the "VIEW" changes, but JSON file is the same
Refreshing the page keeps the view as "wow"

CONCEPT: Store "likes" and "dislikes" here to be updated dynamically and value is constant when refreshing page
-->

<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Interlace Interface</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<script src="lib/Angular/angular.min.js" type="text/javascript" ></script>
	<script src="js/controllers.js" type="text/javascript" ></script>
	<script src="js/script.js" type="text/javascript" ></script>
</head>

<body ng-controller="InterfaceController">
	<div class="header">
      <h1>{{pageData.promptTitle}}</h1>
      <h2>{{pageData.promptText}}</h2>
      <h3>{{pageData.teacherName}}</h3>
      <h3>{{pageData.date}}</h3>
      <order-Time></order-Time>
    </div>

	<div class="ideaPanel">
		<div ng-repeat="item in pageData.ideas | orderBy: 'name'" class = "ideaBox">
			<h2 id = "ideaName"> {{item.name}}</h1>
			
			<p class = "likes" ng-click="plusOne('Ethan')">+ {{ item.likes }} </p>

			<!--Load textcontent -->
			<div class = "contentBox" ng-if=item.contentType=="text">
				<p id = "ideaText"> {{item.content}} </p>
			</div>

			<!--Load image content -->
			<div class = "contentBox" ng-if=item.contentType=="image">
				<img src={{item.content}} style="max-width:100%; max-height:100%">
			</div>

			<p id = "ideaTime"> {{item.time * 1000 | date:'MM-dd-yyyy HH:mm'}} </p>
		</div>
	</div>



</div>

</body>
</html>