* { 
	margin: 0px;
	width: 100%;
	height: 100%;
}

.header{
	background-color: lightblue;
	width: 90%;
	margin: auto;
	height: 200px;
}

.header h1{
	color: black;
}

.header h2{
	color: black;
}

.ideaPanel{
	background-color: pink;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}
