* { 
	padding:0px;
	margin:0px;
}

html, body{
	height:100%;
	width: 100%;
}

.header{
	background-color: lightblue;
	width: 90%;
	margin: auto;
	height: 120px;
	position: relative;
	margin-top: 15px;
}

.header h1{
	color: green;
}

/*.header h2{
	color: black;
}*/

.ideaPanel{
	background-color: pink;
	width: 85%;
	height: 100%;
	margin: auto;
	margin-top: 15px;
	position: relative;
	padding: 15px;
}


.ideaBox{
	background-color: green;
	height: 150px;
	width: 150px;
	overflow-x: scroll;
	margin: 10px;
	padding: 15px;
}

.ideaBox h1{
	color: black;
}

