* { 
	padding:0px;
	margin:0px;
}

html, body{
	height:100%;
	width: 100%;
}

.header{
	background-color: lightblue;
	width: 90%;
	margin: auto;
	height: 160px;
	position: relative;
	margin-top: 15px;
}

.header h1{
	color: green;
	padding: 10px;
	font-size: 28px;
}
.header h2{
	color: blue;
	padding: 10px;
	font-size: 22px;
}

.header h3{
	color: blue;
	padding: 10px;
	font-size: 16px;
	float: right;
}

.ideaPanel{
	background-color: silver;
	width: 90%;
	height: 100%;
	margin: auto;
	margin-top: 15px;
	position: relative;
}


.ideaBox{
	background-color: lightblue;
	height: 160px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
}


#ideaName{
	color: black;
	font-size: 18px;
	padding-bottom: 5px;
	clear: both;
	size: fixed;
	white-space: nowrap;
	overflow-x: auto;
}

#ideaTime{
	color: black;
	font-size: 15px;
	float: right;
	padding-top: 5px;
	overflow-x: auto;
	size: fixed;
	white-space: nowrap;
}

.contentBox{
	background-color: white;
	height: 80%;
	width: 100%;
	margin: auto;
	clear: both;
	overflow-y: auto;
	size: fixed;
}

#ideaText{
	overflow-x: auto;
	font-size: 15px;
	line-height: 160%;
}

