* { 
	padding:0px;
	margin:0px;
	font-family: 'Roboto';
}

html, body{
	height:100%;
	width: 100%;
}

.header{
	background-color: lightblue;
	width: 90%;
	margin: auto;
	height: 160px;
	position: relative;
	margin-top: 15px;
}

.orderByBox{
	margin: 10px;
}
.archiveButton{
	cursor: pointer;
	color: red;
}

.restoreButton{
	cursor: pointer;
	color: green;
}
.useSessionButton{
	cursor: pointer;
}

 /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; cursor: pointer; padding-left: 10px; padding-top:5px;}
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.header h1{
	color: green;
	padding-left: 10px;
	padding-top:2px;
	padding-bottom:2px;
	font-size: 26px;
}
.header h2{
	color: blue;
	padding-left: 10px;
	font-size: 18px;
}

.header h3{
	color: blue;
	padding-right: 10px;
	font-size: 14px;
	float: right;
}

.ideaPanel{
	background-color: silver;
	width: 90%;
	height: 100%;
	margin: auto;
	margin-top: 15px;
	position: relative;
}

.ideaBox{
	background-color: lightblue;
	height: 220px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
	border: 1px solid black;
}

.newIdeaBox{
	background-color: #7AE6A5;
	height: 220px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
	border: 1px solid black;
}

.visibleSessionBox{
	background-color: lightblue;
	height: 220px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
	border: 1px solid black;
}

.invisibleSessionBox{
	background-color: grey;
	height: 220px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
	border: 1px solid black;
}

.newSessionBox{
	background-color: #7AE6A5;
	height: 220px;
	width: 190px;
	margin: 10px;
	padding: 15px;
	float: left;
	border: 1px solid black;
}

.contentBox{
	background-color: white;
	height: 70%;
	width: 90%;
	padding: 8px;
	clear: both;
	overflow-y: auto;
	border: 0.5px solid black;
}


#ideaName{
	color: black;
	font-size: 18px;
	padding-bottom: 5px;
	clear: both;
	size: fixed;
	white-space: nowrap;
	overflow-x: auto;
}

#ideaTime{
	color: black;
	font-size: 12px;
	float: right;
	padding-top: 5px;
	overflow-x: auto;
	size: fixed;
	white-space: nowrap;
}

#ideaText{
	overflow-x: auto;
	font-size: 15px;
	line-height: 160%;
}


.likes {
	float: right;
	display: inline-block;
	background: lightgreen;
	cursor: pointer;
	font-size: 13px;
   	line-height: 20px;
   	min-width: 20px;
   	height: 20px;
 	text-align: center;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }


input[type=text]:focus{
    background-color: lightblue;
}

input[type=text]{
    width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}

input[type=image]{
    width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
