<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a study examining the language humans use to describe image-editing requests.
In the first part of this study, you will be analyzing posts in the subreddit www.reddit.com/r/PhotoshopRequest.  Each post contains an image, title, and additional text describing a way the requester would like for the image to be edited.
</p>
  </body>
</html>